
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  margin-top: 50px;
  margin-bottom: 0.5rem;
  text-align:center;
}

#description{
  font-size:19px;
  margin-top:0px;
  margin-bottom:50px;
  text-align:center;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

form {
  text-align:center;
  background: var(--color-darkblue-alpha);
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom:5px;
  padding:2.5rem;
  border-radius:0.3rem;
}

div{
  /* background:red; */
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control{
  width:100%;
  height:30px;
  border:0px;
  border-radius:3px;
}

.radio, .checkbox{
  margin-right:8px;
  margin-bottom:0px;
  display: inline-block;
  min-height: 18px;
  min-width: 18px;
}

.radio-buttons, .checkboxes{
  margin-top:-10px;
  margin-bottom:-10px;
}

.comments{
  height:100px;
}
